<app-navbar-home></app-navbar-home>
<div class="container">
    <div class="title">Notícias</div>
    <div class="cnt-news">
        <div class="box-news" *ngFor="let item of listNews" [routerLink]="item.id">
            <div class="title">{{item.title}}</div>
            <div class="box-text">
              <div class="image" *ngIf="item?.image"><img [src]="item?.image" /></div>
              <div class="text" [innerHTML]="item?.content"></div>
            </div>
        </div>
    </div>
</div>
