<div class="container">
  <div class="news">
    <div class="title">Informações do seu interesse</div>
    <div class="category">
      <select class="form-control" [(ngModel)]="category" (change)="getNewsByCategory()">
        <option value="">Selecione a categoria</option>
        <option *ngFor="let category of listCategories" [value]="category?.id">{{category?.name}}</option>
      </select>
    </div>
    <div class="content">
      <div class="box-news" *ngFor="let item of listNews" (click)="goto(item?.id)">
        <div class="title">{{item?.title}}</div>
        <div class="text" [innerHTML]="item?.content"></div>
    </div>
    </div>
  </div>
  <div class="comments">
    <div class="title">Seus comentários</div>
    <div class="content">
      <div class="box-comment" *ngFor="let item of listComments" (click)="goto(item?.noticeId)">
        <div class="name">{{item?.createdBy}}</div>
        <div class="date">{{item?.createdAt | date: 'dd/MM/yyyy'}}</div>
        <div class="text">{{item?.content}}</div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="messages">
    <div class="title">Últimos comentários</div>
    <div class="content">
      <div class="box-news" *ngFor="let item of [1,2,3]">
        <div class="image"><img src="https://picsum.photos/90/90?random=3"></div>
        <div class="box-text">
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur justo quis est
            convallis, vel rutrum eros laoreet. Integer at suscipit libero, ut convallis purus. Etiam et sem
            commodo, facilisis neque et, lacinia libero. Nulla aliquam velit tristique, ullamcorper tellus eu,
            convallis elit. Vestibulum molestie luctus ex, sit amet rutrum odio lacinia id. </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
