<div class="container">
    <div class="links-header">
        <div class="link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Início</div>
        <div class="link" routerLink="cadastros" routerLinkActive="active">Cadastros</div>
        <div class="link" routerLink="mensagens" routerLinkActive="active">Mensagens</div>
        <div class="link" routerLink="publicacoes" routerLinkActive="active">Publicações</div>
        <div class="link" routerLink="nova-publicacao" routerLinkActive="active">Nova publicação</div>
    </div>
</div>