<app-navbar-home></app-navbar-home>
<div class="container">
  <div class="post">
    <div class="title">{{news.title}}</div>
    <div class="text" [innerHTML]="news.content">
    </div>
  </div>
  <div class="related">
    <div class="box-news" *ngFor="let item of listNews">
      <div class="title">{{item.title}}</div>
      <div class="text" [innerHTML]="item.content"></div>
    </div>
  </div>
  <div class="comments">
    <div class="title">Comentários</div>
    <div class="box-comment" *ngFor="let item of [1,2,3]">
      <div class="name">Lorem Ipsum</div>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur justo quis est
        convallis, vel rutrum eros laoreet. Integer at suscipit libero, ut convallis purus. Etiam et sem
        commodo, facilisis neque et, lacinia libero. Nulla aliquam velit tristique, ullamcorper tellus eu,
        convallis elit. Vestibulum molestie luctus ex, sit amet rutrum odio lacinia id. </div>
    </div>
  </div>
  <form class="comments-add" [formGroup]="formMessage" (ngSubmit)="sendMessage()">
    <h2 class="subtitle">Digite sua mensagem</h2>
    <textarea rows="5" formControlName="message" cols="30"></textarea>
    <div class="cnt-button">
      <button class="btn green" type="submit">Enviar</button>
    </div>
  </form>
</div>
