@import '../../../styles.less';

.container {
  min-height: calc(100vh - 10.5rem);

  .post {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(132, 132, 132);

    .title {
      margin: 2.5rem;
    }

    .text {}
  }

  .related {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;

    @media screen and (max-width: 550px) {
      flex-direction: column;
    }

    .box-news {
      width: calc(50% - 1rem);
      border: @primary 1px solid;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      cursor: pointer;
      min-height: 100px;


      @media screen and (max-width: 550px) {
        width: 100%;
      }

      &:hover {
        background-color: #00923f11;
      }

      .title {
        margin: 5px;
      }

      .image {
        width: 90px;
        height: 90px;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
        background-repeat: no-repeat;
        margin-right: 1rem;

        img {
          border-radius: 6px;
        }
      }

      .text {
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid rgb(132, 132, 132);
    border-top: 1px solid rgb(132, 132, 132);
    padding: 1.5rem 0;
    margin: 2rem 0;

    .title {
      margin: 2.5rem;
    }

    .box-comment {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: @primary 1px solid;
      border-radius: 10px;
      display: flex;
      padding: 1rem;

      .name {
        font-weight: bold;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

  }

  .comments-add {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
    margin: 2rem 0;

    .subtitle {
      font-size: 14px;
      font-weight: 600;
    }

    textarea {
      resize: none;
      border: 1px solid rgb(132, 132, 132);
      border-radius: 10px;
      padding: 1rem;
      font-size: 14px;
      font-weight: 600;
      color: @text;
      outline: none;

      &:focus {
        border: 1px solid @primary;
      }
    }

    .cnt-button {
      display: flex;
      justify-content: center;

      .btn {
        width: 300px;
      }
    }
  }
}
