<div class="container">
    <div class="cnt-box">
        <div class="left">
            <button class="btn transparent" routerLink="/cadastro"> Cadastrar</button>
        </div>
        <div class="right">
            <div class="title">Login</div>
            <form>
                <div class="label-float">
                    <input class="form-control" type="email" id="email" name="email" placeholder="Email">
                    <label for="email">Email</label>
                </div>
                <div class="label-float">
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Senha">
                    <label for="password">Senha</label>
                </div>
                <button type="submit" class="btn green" routerLink="">Entrar</button>
            </form>
        </div>
    </div>
</div>