<div class="container">
    <div class="news">
        <div class="title">Novas publicações</div>
        <div class="content">
          <div class="box-news" *ngFor="let item of listNews" (click)="goto(item?.id)">
            <div class="title">{{item?.title}}</div>
            <div class="text" [innerHTML]="item?.content"></div>
        </div>
        </div>
    </div>
    <div class="comments">
        <div class="title">Novos comentários</div>
        <div class="content">
          <div class="box-comment" *ngFor="let item of listComments" (click)="goto(item?.noticeId)">
            <div class="name">{{item?.createdBy}}</div>
            <div class="date">{{item?.createdAt | date: 'dd/MM/yyyy'}}</div>
            <div class="text">{{item?.content}}</div>
          </div>
        </div>
    </div>
</div>
