<app-navbar-home></app-navbar-home>
<div class="lp-all">
    <div class="container">
        <div class="carrousel">
            <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselItems">
                <ngu-tile *nguCarouselDef="let item; let i = index">
                    <a href="/noticias/" *ngIf="item.link">
                        <img [src]="item.img" alt="">
                    </a>
                    <span *ngIf="!item.link">
                        <img [src]="item.img" alt="">
                    </span>
                </ngu-tile>
                <button NguCarouselPrev class='buttonPrev'>
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button NguCarouselNext class='ButtonNex'>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </ngu-carousel>
        </div>
        <div class="faq">
            <p-accordion [multiple]="true" [expandIcon]="'pi pi-plus'" [collapseIcon]="'pi pi-minus'">
                <p-accordionTab header="Dicas de Saúde">
                    Content 1
                </p-accordionTab>
                <p-accordionTab header="Alimentação Saudável">
                    Content 2
                </p-accordionTab>
                <p-accordionTab header="Saúde Mental">
                    Content 3
                </p-accordionTab>
                <p-accordionTab header="Bem-estar">
                    Content 4
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class="register">
            <div class="title">Faça seu Cadastro</div>
            <form [formGroup]="registerForm" (submit)="onRegister()">
                <div class="label-float">
                    <input class="form-control" formControlName="Name" type="text" id="name" name="name" placeholder="Nome">
                    <label for="name">Nome</label>
                </div>
                <div class="label-float">
                    <input class="form-control" formControlName="Email" type="email" id="email" name="email" placeholder="Email">
                    <label for="email">Email</label>
                </div>
                <div class="split">
                  <div class="label-float">
                      <input class="form-control" formControlName="Password" type="password" id="password" name="password" placeholder="Senha" (blur)="verifyPassword()">
                      <label for="password">Senha</label>
                  </div>
                  <div class="label-float">
                      <input class="form-control" formControlName="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar Senha" (blur)="verifyPassword()">
                      <label for="confirmPassword">Confirmar Senha</label>
                  </div>
              </div>
                <div class="split">
                    <div class="label-float">
                        <input class="form-control" formControlName="Phone" type="text" id="phone" name="phone" placeholder="Telefone" mask="(00) 00000-0000">
                        <label for="phone">Telefone</label>
                    </div>
                    <div class="label-float">
                        <input class="form-control" formControlName="BirthDate" type="date" id="date" name="date">
                        <label for="date">Data de nascimento</label>
                    </div>
                </div>
                <div class="split">
                    <div class="label-float">
                        <input class="form-control" formControlName="Cpf" type="text" id="cpf" name="cpf" placeholder="CPF" mask="000.000.000-00">
                        <label for="cpf">CPF</label>
                    </div>
                    <div class="label-float">
                        <select class="form-control"formControlName="Gender" name="gender">
                            <option value="" disabled>Selecione</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Nao Informado">Não informar</option>
                        </select>
                        <label for="gender">Sexo</label>
                    </div>
                </div>
                <div class="split">
                    <div class="label-float">
                        <input class="form-control"formControlName="City" type="text" id="city" name="city" placeholder="Cidade">
                        <label for="city">Cidade</label>
                    </div>
                    <div class="label-float">
                      <select class="form-control" formControlName="State" name="gender">
                          <option value="" disabled>Selecione</option>
                          <option *ngFor="let state of states" [value]="state.value">{{state.label}}</option>
                      </select>
                      <label for="gender">Estado</label>
                  </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn green" [disabled]="!registerForm.valid">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
