@import url('global/css/global-variables.less');
.all {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @footerGreen;
    .logos-partners {
        img {
            height: 20px;
        }
    }
    .copyright {}
    .social-media {}
}