<div class="all">
    <div class="logos-partners">
        <img src="/assets/footer/unifenas_logo.png" alt="unifenas">
        <img src="/assets/footer/enfermagem_logo.png" alt="enfermagem">
        <img src="/assets/footer/computacao_logo.png" alt="computação">
    </div>
    <div class="copyright">
        Título © - Todos Direitos Reservados
    </div>
    <div class="social-media">
        <a href="">
            <img src="/assets/footer/social_media.png" alt="facebook">
            <!-- <img src="/assets/footer/whatsapp.png" alt="whatsapp"> -->
        </a>
    </div>
</div>